body {
    background-color: #FAC177;
}

img {
    width: 100%;
}

h2 {
    font-family: 'Source Serif Pro', serif;
    color: white;
    text-align: center;
    font-size: 2rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
